name: Rust

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Run cargo fmt
      run: |
        rustup component add rustfmt --toolchain nightly-2020-01-08-x86_64-unknown-linux-gnu
        cargo fmt -- --check
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
